<a href="https://colab.research.google.com/github/biranchi2018/WazirX-API/blob/main/WazirX_Ticker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ticker

https://api.wazirx.com/sapi/v1/tickers/24hr

https://api.wazirx.com/api/v2/tickers

In [2]:
import pandas as pd
import requests
import json

In [ ]:
API_URL = 'https://api.wazirx.com/api/v2/tickers'

In [3]:
json_data = requests.get(API_URL).json()
json_data.keys()

dict_keys(['btcinr', 'xrpinr', 'ethinr', 'trxinr', 'eosinr', 'zilinr', 'batinr', 'zrxinr', 'omginr', 'polyinr', 'iostinr', 'dentinr', 'hotinr', 'usdtinr', 'wrxinr', 'maticinr', 'bchinr', 'bnbinr', 'bttinr', 'chzinr', 'oneinr', 'yfiinr', 'uniinr', 'linkinr', 'sxpinr', 'adainr', 'nanoinr', 'atominr', 'xlminr', 'fetinr', 'xeminr', 'zecinr', 'busdinr', 'yfiiinr', 'dogeinr', 'dotinr', 'vetinr', 'crvinr', 'reninr', 'enjinr', 'manainr', 'hbarinr', 'umainr', 'chrinr', 'paxginr', '1inchinr', 'etcinr', 'uftinr', 'dockinr', 'filinr', 'wininr', 'tkoinr', 'pushinr', 'avaxinr', 'lunainr', 'xvginr', 'scinr', 'fttinr', 'dgbinr', 'cvcinr', 'cakeinr', 'ezinr', 'bzrxinr', 'ftminr', 'hntinr', 'arkinr', 'ctsiinr', 'kmdinr', 'solinr', 'cotiinr', 'iotxinr', 'shibinr', 'rlcinr', 'trbinr', 'reefinr', 'icpinr', 'ontinr', 'ckbinr', 'pntinr', 'xvsinr', 'viteinr', 'dcrinr', 'mdxinr', 'phainr', 'runeinr', 'ogninr', 'mirinr', 'datainr', 'ksminr', 'nkninr', 'balinr', 'dntinr', 'keepinr', 'snxinr', 'axsinr', 'celrinr', 'alphainr', 'compinr', 'aliceinr', 'egldinr', 'klayinr', 'sandinr', 'frontinr', 'lrcinr', 'stxinr', 'algoinr', 'pondinr', 'alpacainr', 'xecinr', 'ilvinr', 'mlninr', 'dydxinr', 'cfxinr', 'stptinr', 'radinr', 'burgerinr', 'bcdinr', 'roseinr', 'scrtinr', 'sysinr', 'agldinr', 'keyinr', 'rareinr', 'suninr', 'slpinr', 'nuinr', 'auctioninr', 'atainr', 'oceaninr', 'superinr', 'betainr', 'cocosinr', 'waxpinr', 'arinr', 'sushiinr', 'mkrinr', 'gtoinr', 'qiinr', 'galainr', 'chessinr', 'tlminr', 'ensinr', 'ltoinr', 'ltcinr', 'dashinr', 'xrpbtc', 'trxbtc', 'ethbtc', 'zilbtc', 'batbtc', 'ltcbtc', 'qkcbtc', 'dashbtc', 'funbtc', 'iostbtc', 'nulsbtc', 'omgbtc', 'reqbtc', 'sntbtc', 'thetabtc', 'zrxbtc', 'eosbtc', 'icxbtc', 'polybtc', 'usdcbtc', 'xlmbtc', 'fetbtc', 'celrbtc', 'maticbtc', 'adabtc', 'rvnbtc', 'xmrbtc', 'atombtc', 'bnbbtc', 'wrxbtc', 'fttbtc', 'stmxbtc', 'glmbtc', 'btcusdt', 'trxusdt', 'xrpusdt', 'eosusdt', 'ethusdt', 'icxusdt', 'ltcusdt', 'tusdusdt', 'hotusdt', 'batusdt', 'dashusdt', 'ncashusdt', 'qkcusdt', 'zilusdt', 'zrxusdt', 'bchusdt', 'bchsvusdt', 'usdcusdt', 'omgusdt', 'polyusdt', 'dentusdt', 'iostusdt', 'funusdt', 'sntusdt', 'thetausdt', 'requsdt', 'xlmusdt', 'xtzusdt', 'bttusdt', 'fetusdt', 'tfuelusdt', 'celrusdt', 'maticusdt', 'adausdt', 'rvnusdt', 'xmrusdt', 'atomusdt', 'algousdt', 'linkusdt', 'qtumusdt', 'etcusdt', 'iotausdt', 'zecusdt', 'wavesusdt', 'ftmusdt', 'enjusdt', 'lskusdt', 'steemusdt', 'xvgusdt', 'loomusdt', 'manausdt', 'repusdt', 'blzusdt', 'nanousdt', 'scusdt', 'btgusdt', 'xemusdt', 'btsusdt', 'ardrusdt', 'nasusdt', 'winusdt', 'bnbusdt', 'chzusdt', 'wrxusdt', 'kavausdt', 'ankrusdt', 'busdusdt', 'oneusdt', 'ognusdt', 'hiveusdt', 'fttusdt', 'bandusdt', 'jstusdt', 'ctsiusdt', 'chrusdt', 'tomousdt', 'stxusdt', 'stmxusdt', 'gxsusdt', 'mdtusdt', 'ltousdt', 'lrcusdt', 'dogeusdt', 'neousdt', 'hbarusdt', 'storjusdt', 'compusdt', 'cotiusdt', 'dgbusdt', 'grsusdt', 'snxusdt', 'renusdt', 'sxpusdt', 'mkrusdt', 'daiusdt', 'avausdt', 'balusdt', 'srmusdt', 'egldusdt', 'cosusdt', 'nbsusdt', 'aionusdt', 'dotusdt', 'yfiusdt', 'iotxusdt', 'sandusdt', 'uniusdt', 'datausdt', 'paxgusdt', 'creamusdt', 'swrvusdt', 'umausdt', 'diausdt', 'ksmusdt', 'yfiiusdt', 'bzrxusdt', 'trbusdt', 'adxusdt', 'aaveusdt', 'filusdt', 'crvusdt', 'nearusdt', 'hntusdt', 'avaxusdt', 'oxtusdt', 'dockusdt', 'duskusdt', 'wtcusdt', 'perlusdt', 'straxusdt', 'injusdt', 'vetusdt', 'mtlusdt', 'frontusdt', 'glmusdt', 'sushiusdt', 'firousdt', 'dexeusdt', 'grtusdt', 'bntusdt', 'rsrusdt', '1inchusdt', 'lunausdt', 'uftusdt', 'pundixusdt', 'ckbusdt', 'vibusdt', 'gtousdt', 'tkousdt', 'pushusdt', 'cvcusdt', 'cakeusdt', 'ezusdt', 'arkusdt', 'kmdusdt', 'solusdt', 'shibusdt', 'rlcusdt', 'reefusdt', 'icpusdt', 'ontusdt', 'pntusdt', 'xvsusdt', 'viteusdt', 'dcrusdt', 'mdxusdt', 'phausdt', 'runeusdt', 'mirusdt', 'nknusdt', 'dntusdt', 'keepusdt', 'axsusdt', 'alphausdt', 'aliceusdt', 'klayusdt', 'xecusdt', 'perpusdt', 'qntusdt', 'flowusdt', 'vgxusdt', 'arusdt', 'rayusdt', 'dodousdt', 'minausdt', 'clvusdt', 'bakeusdt', 'alpacausdt', 'usdpusdt', 'gnousdt', 'tlmusdt', 'audiousdt', 'sklusdt', 'mboxusdt', 'degousdt', 'galausdt', 'maskusdt', 'mftusdt', 'pondusdt', 'ilvusdt', 'mlnusdt', 'dydxusdt', 'cfxusdt', 'stptusdt', 'radusdt', 'burgerusdt', 'bcdusdt', 'roseusdt', 'scrtusdt', 'sysusdt', 'agldusdt', 'keyusdt', 'rareusdt', 'sunusdt', 'slpusdt', 'nuusdt', 'auctionusdt', 'atausdt', 'oceanusdt', 'superusdt', 'betausdt', 'cocosusdt', 'waxpusdt', 'qiusdt', 'chessusdt', 'ensusdt', 'ethwrx', 'xrpwrx', 'yfiwrx', 'bnbwrx', 'trxwrx', 'eoswrx', 'ltcwrx', 'linkwrx', 'enjwrx', 'dogewrx', 'maticwrx', 'adawrx', 'batwrx', 'shibwrx', '1inchwrx', 'dockwrx', 'runewrx', 'chrwrx', 'yfiiwrx', 'lunawrx'])

In [7]:
watch_list = ['btc', 'eth', 'usdt', 'bnb', 'uni', 'doge', 'dot', 'mana', 'chr', 'avax', 'sol', \
              'shib', 'axs', 'alice', 'egld', 'sand']
curr = ['inr']

In [10]:
filtered_crypto_keys = [key for key in json_data.keys() \
                        for key_pref in watch_list \
                        if key.startswith(key_pref) and key.endswith(curr[0])]

In [15]:
filtered_crypto_keys

['btcinr',
 'ethinr',
 'usdtinr',
 'bnbinr',
 'uniinr',
 'dogeinr',
 'dotinr',
 'manainr',
 'chrinr',
 'avaxinr',
 'solinr',
 'shibinr',
 'axsinr',
 'aliceinr',
 'egldinr',
 'sandinr']

In [34]:
filtered_crypto = [{'crypto': key, 
                    'name' : json_data[key]['name'],
                    'last' : float(json_data[key]['last']),
                    'low' : float(json_data[key]['low']),
                    'high' : float(json_data[key]['high']),
                    'open' : float(json_data[key]['open']),
                    'buy' : float(json_data[key]['buy']),
                    'sell' : float(json_data[key]['sell']), 
                    'volume' : float(json_data[key]['volume'])} \
                   for key in filtered_crypto_keys]
filtered_crypto[:2]

[{'buy': 4441399.0,
  'crypto': 'btcinr',
  'high': 4575668.0,
  'last': 4440404.0,
  'low': 3360018.0,
  'name': 'BTC/INR',
  'open': 4392308.0,
  'sell': 4444620.0,
  'volume': 594.55312},
 {'buy': 340262.5,
  'crypto': 'ethinr',
  'high': 349000.0,
  'last': 340262.5,
  'low': 320517.8,
  'name': 'ETH/INR',
  'open': 327000.0,
  'sell': 340998.6,
  'volume': 1001.1128}]

In [45]:
pd.options.display.float_format = '{:,.2f}'.format

### Create DataFrame

In [53]:
df = pd.DataFrame(filtered_crypto)
df.head()

    crypto      name         last  ...          buy         sell        volume
0   btcinr   BTC/INR 4,440,404.00  ... 4,441,399.00 4,444,620.00        594.55
1   ethinr   ETH/INR   340,262.50  ...   340,262.50   340,998.60      1,001.11
2  usdtinr  USDT/INR        76.79  ...        76.74        76.79 33,514,459.14
3   bnbinr   BNB/INR    49,250.00  ...    49,135.28    49,250.00      2,667.78
4   uniinr   UNI/INR     1,614.74  ...     1,613.09     1,614.37      4,236.83

[5 rows x 9 columns]

In [54]:
# df.info()

In [55]:
df.set_index('crypto', drop=True, inplace=True)
df.head()

             name         last  ...         sell        volume
crypto                          ...
btcinr    BTC/INR 4,440,404.00  ... 4,444,620.00        594.55
ethinr    ETH/INR   340,262.50  ...   340,998.60      1,001.11
usdtinr  USDT/INR        76.79  ...        76.79 33,514,459.14
bnbinr    BNB/INR    49,250.00  ...    49,250.00      2,667.78
uniinr    UNI/INR     1,614.74  ...     1,614.37      4,236.83

[5 rows x 8 columns]

### Sorting DataFrame by Fields

In [58]:
df.sort_values('volume', ascending=False, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

       name   last    low   high   open    buy   sell               volume
0  SHIB/INR   0.00   0.00   0.00   0.00   0.00   0.00 1,391,112,900,524.00
1  USDT/INR  76.79  74.87  77.50  76.33  76.74  76.79        33,514,459.14
2  DOGE/INR  16.80  16.20  18.00  16.67  16.80  16.80        19,167,007.00
3   CHR/INR  89.10  89.00 103.40  90.60  89.00  89.10         3,857,414.00
4  MANA/INR 383.00 364.00 452.16 357.00 383.00 383.25         3,453,618.40

In [59]:
df.sort_values('sell', ascending=False, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

       name         last          low  ...          buy         sell   volume
0   BTC/INR 4,440,404.00 3,360,018.00  ... 4,441,399.00 4,444,620.00   594.55
1   ETH/INR   340,262.50   320,517.80  ...   340,262.50   340,998.60 1,001.11
2   BNB/INR    49,250.00    44,999.00  ...    49,135.28    49,250.00 2,667.78
3  EGLD/INR    33,000.00    32,800.00  ...    33,000.00    33,144.23   706.97
4   SOL/INR    15,887.04    15,500.10  ...    15,818.96    15,887.03 6,340.62

[5 rows x 8 columns]